* {
    margin: 0;
    padding: 0;
    
}


@font-face {
    font-family: ComicNeue;
    src: url(ComicNeue-Bold.ttf);
}

body {
    font-family: 'ComicNeue';
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color:rgb(253, 239, 222);
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    font-size: 1.8em;
    font-weight: bold;
    background-image: linear-gradient(to right,yellow, red, orange,  green, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      

}
p {
    font-size: 1em;
    font-weight: bold;
}

@keyframes loading {
    0%{
        width: 0%;
        background-color: red;
    }
    100%{

    }
}

.box{
    width: 160px;
    height: 20px;
    border: 3px solid black;
    border-radius: 7px;


}
.box-loading {
    height: 20px;
    width: 100%;
    border-radius: 3px;
    animation: loading 11s;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue) ;

}


#BtnClick {
    display: none;
    width: 130px;
    height: 40px;
    background-color: wheat;
    border-radius: 10px;
    color: black;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    transform: translate(10%, 150%);
    font-family: ComicNeue;
}
    
#BtnClick:hover{
    border: 2px solid black;
    background-color: transparent;
    color: black;
}



.container2 {
    font-family: 'ComicNeue';
    display: inline-block;
    background-color: rgb(253, 239, 222);
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p2 {
    font-size: 1.6em;
    font-weight: bold;
}


.Start{
    display: inline-block;
    width: 170px;
    height: 40px;
    background-color: wheat;
    border-radius: 5px;
    color: black;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    transform: translate(0%,0%);
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    font-family: 'ComicNeue';
}

.Start:hover{
        border: 2px solid black;
        color: black;
        background-color: transparent;
    
}

body {
    font-family: 'ComicNeue';
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Familia {
    height: 70px;
}

